@model IEnumerable<AppNESSTimeMvc.Models.Time>


@{
    ViewData["Title"] = "História Corinthians";
}

<h1>Corinthians</h1>

<style>
    body {
        background: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background: black;
    }

    section {
        background: black;
        padding: 20px;
    }

    footer {
        background: white;
    }
</style>
<br />
<div style="font-size: xx-large">Conheça a história do SCCP! </div>
<div class="row">
    <div class="col-md-6">
        <br /><br /> <br />
        <img src="https://cdn.meutimao.com.br/_upload/historia/fatos-marcantes/a_fundacao_do_corinthians.png"
             width="500"
             height="300" />
    </div>
    <div class="col-md-6">
        <br /> <div style="font-style:oblique; font-size:x-large">1910 - A fundação</div> <br />
        Às 20h30 do dia 1º de setembro, à luz de um lampião, na esquina das ruas José Paulino e Cônego Martins, no bairro do Bom Retiro, o grupo de operários formado por
        Anselmo Corrêa, Antônio Pereira, Carlos Silva, Joaquim Ambrósio e Raphael Perrone fundaram o Sport Club Corinthians Paulista. Com mais oito rapazes, foi formada
        a reunião dos primeiros integrantes e sócio-fundadores do Timão, que teve seu nome inspirado na equipe inglesa Corinthian-Casuals Football Club, que fazia excursão
        pelo Brasil. O presidente escolhido por eles foi o alfaiate Miguel Battaglia, que, já no primeiro momento, afirmou: “O Corinthians vai ser o time do
        povo e o povo é quem vai fazer o time”. Um terreno alugado na Rua José Paulino foi aplainado, virou campo e foi lá que, já no dia 14 de setembro,
        o primeiro treino foi realizado diante de uma plateia entusiasmada, que garantiu: “Este veio para ficar!”.
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br /> <br /> <br /> <br /> <br /> <br /> <div style="font-style:oblique; font-size:x-large">1939 - É tri!</div> <br />
        Pela terceira vez, o Coringão conquistou o tricampeonato estadual. Até hoje, nenhum clube venceu mais de três vezes seguidas o Campeonato Paulista.
    </div>

    <div class="col-md-6">
        <br /><br /> <br />
        <img src="https://todopoderosotimao.com/imagens/titulos/cor_1937.jpg"
             width="500"
             height="300" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br /><br /> <br />
        <img src="https://f.i.uol.com.br/folha/esporte/images/11340253.jpeg"
             width="500"
             height="300" />
    </div>
    <div class="col-md-6">
        <br /> <br /> <br /> <br /> <br /> <br /> <div style="font-style:oblique; font-size:x-large">1940 - Pacaembu</div> <br />
        No dia 28 de abril, o Timão inaugurou o estádio do Pacaembu, vencendo o Atlético-MG por 4 a 2.
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br /> <br /> <br /> <br /> <br /> <br /> <div style="font-style:oblique; font-size:x-large">1953 - Ano de glórias</div> <br />
        O Coringão venceu pela segunda vez o Rio-São Paulo e levou também a Pequena Taça do Mundo, jogando contra Barcelona (ESP), Roma (ITA) e a Seleção de Caracas, na Venezuela.
    </div>

    <div class="col-md-6">
        <br /><br /> <br />
        <img src="https://pbs.twimg.com/media/CoabdulXgAIKeTz.jpg"
             width="500"
             height="300" />
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <br /><br /> <br />
        <img src="https://i0.wp.com/www.imortaisdofutebol.com/wp-content/uploads/2014/02/corinthians-1953.jpg?fit=1560%2C959&ssl=1"
             width="500"
             height="300" />
    </div>
    <div class="col-md-6">
        <br /> <br /> <br /> <br /> <br /> <br /> <div style="font-style:oblique; font-size:x-large"> 1958 - Timão no Mundial</div> <br />
        Além de ter vencido o Troféu Charles Miller e o Torneio Brasília, o clube do Parque São Jorge teve grande importância no primeiro título da Seleção Brasileira da Copa do Mundo.
        Na Suécia, o goleiro Gilmar e o lateral esquerdo Oreco representaram o país e o Corinthians na conquista inédita.
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br /> <br /> <br /> <br /> <br /> <br /> <div style="font-style:oblique; font-size:x-large"> 2012 - O ano inesquecível!</div> <br />
        Pela primeira vez na história, o Corinthians foi campeão da Libertadores. E, para ser perfeito, de forma invicta!
        Foram 22 gols marcados e apenas quatro sofridos em oito vitórias e seis empates. O atacante Emerson marcou os gols
        da vitória por 2 a 0 contra o Boca Juniors (ARG) no jogo de volta da grande final. A escalação da partida foi: Cássio,
        Alessandro, Chicão, Leandro Castán e Fábio Santos; Ralf, Paulinho, Danilo e Alex; Jorge Henrique e Emerson. O gol de cabeça
        Paulinho contra o Vasco, que levou o Corinthians às semifinais da Libertadores, já é considerado por muitos o mais marcante
        da história do clube. Além disso, o Timão conquistou a Copinha também de forma invicta e teve um atleta medalhista olímpico em
        Londres. O nadador Thiago Pereira ficou com a prata nos 400m medley. Em dezembro, o Bando de Loucos invadiu o Japão e viu o Corinthians
        conquistar o Mundial de Clubes da Fifa pela segunda vez. Guerrero marcou de cabeça e garantiu o título contra o Chelsea no ano que se tornou inesquecível para a Fiel Torcida.
    </div>

    <div class="col-md-6">
        <br /><br /> <br /> <br /> <br /> <br />
        <img src="https://i0.statig.com.br/bancodeimagens/ay/fu/7o/ayfu7oxg2q6do8cxssdp5h1q1.jpg"
             width="500"
             height="300" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br /><br /> <br />
        <img src="https://f.i.uol.com.br/folha/esporte/images/11340253.jpeg"
             width="500"
             height="300" />
    </div>
    <div class="col-md-6">
        <br /> <br /> <br /> <br /> <br /> <br /> <div style="font-style:oblique; font-size:x-large">1940 - Pacaembu</div> <br />
        No dia 28 de abril, o Timão inaugurou o estádio do Pacaembu, vencendo o Atlético-MG por 4 a 2.
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <br /><br /><br /> <div style="font-style:oblique; font-size:x-large"> 2014 - Nova Casa!</div> <br />
        Comandado pelo técnico Mano Menezes, o Corinthians embalou na segunda metade da temporada e terminou o Brasileirão daquele ano na 4ª colocação, garantindo
        classificação para a Copa Libertadores do ano seguinte. No dia 19 de maio,
        em partida entre Corinthians e Figueirense, pelo Campeonato Brasileiro, aconteceu a inauguração da Arena Corinthians, casa da fiel desde então.
    </div>

    <div class="col-md-6">
        <br />
        <img src="https://www.maxmilhas.com.br/blog/wp-content/uploads/2019/05/Arena-Corinthians-Est%C3%A1dios-da-Copa-Am%C3%A9rica-2019-770x450.jpg"
             width="500"
             height="300" />
    </div>
</div>
<br />
<br />
<br />
<br />